body { 
    background: url("BG_purple.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  section{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom:3%;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  header {
    position:sticky;
    left:0;
    top:0; 
    width:100%;
    z-index: 1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
  
    transition: 0.6s;
    padding: 0px 100px;
    background-color: black;

}
  
  
  .navbar_title {
    font-size: 1.8rem;
    font-weight:585;
    transition:0.6s;}
  .navbar_title a {
    position: relative;
    color:rgb(63, 70, 75);
    text-decoration:none;
    transition:0.6s}
  
  .navbar_nav {
    display:flex;
    }
  
  .navbar_link {
    list-style:none;
    margin:0 10px;}
  
  .navbar_link a {
    position: relative;
    color:white;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration:none;
    transition:0.6s}

    @font-face {
        font-family: IIC-Title;
        src: url("font/Akira Super Bold.otf") format("opentype");
    }

    @font-face {
        font-family: IIC-Tagline;
        src: url("font/Montserrat-Bold.ttf") format('truetype');
    }

    @font-face {
        font-family: IIC-Content;
        src: url("font/Montserrat-Light.ttf") format('truetype');
    }

    .home_sec{
        display: flex;
        justify-content:space-between;
        
    }

    .sponsor_para{
        color: white;
        align-items: flex-end;
        
    }

    .sponsor_para h1{
        font-size: 50px;
        font-family: "IIC-Tagline";
        margin: 10px;
    }

    .sponsor_para h2{
        font-size: 30px;
        font-family: ;
        margin: 10px;
    }

    .home_para{
        color: white;
    }
    .home_para h1{
        font-size: 70px;
        font-family: "IIC-Title";
        color: #FFF45C;
    }
    .home_para h2{
        font-size: 50px;
        color: #7EFAB9;
        font-family: "IIC-Tagline";
    }
    .home_para h3{
        font-size: 20px;
        font-family: "IIC-Content";
    }

    .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }
    .fill img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

    .rules_sec{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        margin: 30px;
        width: 400px;
    }

    .button-32 {
        background-color: #fff000;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        font-weight: bold;
        padding: 10px 15px;
        text-align: center;
        transition: 200ms;
        font-family: "IIC-Title";
        box-sizing: border-box;
        border: 0;
        font-size: 50px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 30px;
        
      }
      
      .button-32:hover{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(145, 92, 182);
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
      }
      
      
      .button-32:disabled {
        filter: saturate(0.2) opacity(0.5);
        -webkit-filter: saturate(0.2) opacity(0.5);
        cursor: not-allowed;
      }

    @media only screen and (max-width: 700px) {
        .home_sec{
            display: flex;
            justify-content:space-between;
            flex-direction: column ;
        }


        .home_para h1{
            font-size: 60px;
        }
        .home_para h2{
            font-size: 30px;
        }
        .home_para h3{
            font-size: 10px;
        }

        .header {
            position:fixed;
            left:0;
            top:0; 
            width:100%;
          
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content:space-between;
          
            transition: 0.6s;
            padding: 0px 100px;
            background-color: black;
        
        }

        .card{
            margin: 0px;
            width: 200px;
        }

        #navigation_bar{
          display: none;
        }

      }

@media only screen and (max-width: 700px) {
        .body, html {
          margin-left:2%;
          margin-right:2%;
          margin-bottom:5%;
          margin-top:5%;
          }
        .home_sec{
            display: flex;
            justify-content:space-between;
            flex-direction: column ;

        }

        .home_para h1{
            font-size: 35px;
        }
        .home_para h2{
            font-size: 20px;
        }
        .home_para h3{
            font-size: 15px;
            margin-top: 40px;
            margin-bottom: 10px;
        }

        .header {
            position:fixed;
            left:0;
            top:0; 
            width:100%;
          
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content:space-between;
          
            transition: 0.6s;
            padding: 0px 100px;
            background-color: black;
        
        }

        .card{
            margin: 0px;
            width: 200px;
        }

        #navigation_bar{
          display: none;
        }

        .button-32{
          background-color: #fff000;
          border-radius: 5px;
          color: #000;
          cursor: pointer;
          font-weight: bold;
          padding: 10px 15px;
          text-align: center;
          transition: 200ms;
          font-family: "IIC-Title";
          box-sizing: border-box;
          border: 0;
          font-size: 20px;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          margin-top: 30px;
        }

        .rules_sec{
          display: block;
      }
        .a.btn.btn-dark.btn-lg{
          font-size: 2px;
        }

        .sponsor_para h1{
          font-size: 35px;
          
        }

        .sponsor_para h2{
          font-size: 20px;
          
        }

        .sponsor_para img{
          margin: 10px;
          
        }

        .card1{
          margin-bottom: 20px;
        }
      
        .card-body a{
          font-size: 15px;
        }
      }